<div class="row block align-center">
    <div class="col-xs-12">
      {% if clearance is not null %}
        {% if clearance > 0 %}
          <span id="clearance-good" class="label label-success label-clearance">{{ clearance }} €</span>
        {% elseif clearance == 0 %}
          <span id="clearance-warn" class="label label-warning label-clearance">{{ clearance }} €</span>
        {% elseif clearance < 0 %}
          <span id="clearance-bad" class="label label-danger label-clearance">{{ clearance }} €</span>
        {% endif %}
      {% else %}
          <span id="clearance-error" class="label label-default label-clearance">ERREUR</span>
      {% endif %}
    </div>
  </div>
  <div class="row block">
    <div class="col-xs-12">
      {% if payments is not null and payments|length != 0 %}
        <table id="payments-table" class="table table-striped table-hover table-condensed">
      {% else %}
        <table id="payments-table" class="table table-striped table-hover table-condensed hidden">
      {% endif %}
        <thead>
          <tr>
            <th>DATE</th>
            <th class="table-motive">MOTIF</th>
            <th class="hidden-xs">MOYEN</th>
            <th>MONTANT</th>
          </tr>
        </thead>
        <tbody id="payments-body">
          {% if payments is not null %}
            {% for p in payments %}
              <tr>
                <td class='align-center'>{{ p.date|date("d-m-Y") }}</td>
                <td class='table-motive'>{{ p.motive }}</td>
                <td class='hidden-xs align-center'>{{ p.media }}</td>
                <td class='align-center'>{{ p.price }} €</td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td class="hidden-xs"></td>
            <td id="payments-total" class="align-center weight-bolder">{{ total }} €</td>
          </tr>
        </tfoot>
      </table>
      {% if payments is not defined and payments|length == 0 %}
        <div id="div-no-payments" class="alert alert-warning align-center" role="alert">
          Aucune transaction trouvée pour le mois de <b>{{ month }}</b>.
        </div>
      {% endif %}
    </div>
  </div>